<div class="container">
  <form class="form-signin" name="signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" ng-model="data.username" class="form-control" placeholder="Username / Email" autofocus>
    <input type="password" ng-model="data.password" class="form-control" placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" ng-model="data.remember" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
  </form>
</div>
